services:
  - type: web
    name: pizza-jolo-backend
    runtime: node
    plan: free
    region: frankfurt
    rootDir: app/pizza-express
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: MONGO_DB_NAME
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
